extends ../base.pug

block variables
  - var template = 'about'

block content
  .about
    .about__wrapper
      .about__box 
        h1.about__intro__title(data-animation="title")=about.data.header

        .about__actions 
          p.about__label(data-animation="paragraph")=about.data.text
          
          button.home__link(data-animation="paragraph")=about.data.button

        .about__box__image 
          figure.about__media
            img.about__media__image(alt=about.data.image.alt src=about.data.image.url)

      each section in about.data.body
        if section.slice_type === "location"
          .about__location
            p.about__location__label(data-animation="paragraph")=section.primary.label_quote

            h2.about__location__title(data-animation="title")=section.primary.title

            p.about__location__labels(data-animation="paragraph")=section.primary.label
            p.about__location__labels(data-animation="paragraph")=section.primary.label_2
            p.about__location__labels(data-animation="paragraph")=section.primary.label_3

        if section.slice_type === "info"
          .about__info
            h2.about__info__title(data-animation="title")=section.primary.title

            p.about__info__labels(data-animation="paragraph")=section.primary.label
            p.about__info__labels(data-animation="paragraph")=section.primary.label_2
            p.about__info__labels(data-animation="paragraph")=section.primary.label_3
            p.about__info__labels(data-animation="paragraph")=section.primary.label_4

        if section.slice_type === "awards"
          .about__awards
            h2.about__awards__title(data-animation="title")=section.primary.title

            ul.about__awards__list
              each award in section.items
                li.about__awards__list__item
                  span.about__awards__stroke(data-animation="line")
                  .about_awards__list__box
                    p.about__awards__list__column(data-animation="paragraph")=award.date
                    p.about__awards__list__column(data-animation="paragraph")=award.description
                    p.about__awards__list__column(data-animation="paragraph")=award.label

      include ../partials/footer