extends ../base.pug

block variables
  - var template = "home"

block content
  .home
    .home__wrapper
      .home__intro 
        h1.home__title(data-animation="title")!=home.data.header.replace(/\n/g, "<br>")

        .home__actions 
          p.home__label=home.data.text
          
          button.home__link=home.data.button

      each section in home.data.body
        if section.slice_type === "myself"
          section.home__myself
            .home__myself__wrapper
              p.home__myself__label=section.primary.quote

              h2.home__myself__title
                span.spans=section.primary.title
                span.spans=section.primary.title
                span.spans=section.primary.title
                span.spans=section.primary.title
                span.spans=section.primary.title

              .home__myself__box
                .home__myself__description!=section.primary.description.replace(/\n/g, "<br>")
                .home__myself__description!=section.primary.description2.replace(/\n/g, "<br>")

        //- if section.slice_type === "categories"
        //-   section.home__categories 
        //-     .home__categories__wrapper
        //-       ul.home__categories__list
        //-         each category in section.items
        //-           li.home__categories__list__item
        //-             span.home__categories__stroke(data-animation="line")
        //-             h2.home__categories__title(data-animation="title")=category.category_title

        if section.slice_type === "works"
          section.home__works 
            .home__works__wrapper
              p.home__works__label=section.primary.label

              h2.home__works__title
                span.work__spans=section.primary.title
                span.work__spans=section.primary.title
                span.work__spans=section.primary.title
                span.work__spans=section.primary.title
                span.work__spans=section.primary.title

              .home__works__list
                each work in section.items
                  a.home__works__list__link(href=Link(work.project))
                    .home__works__list__header
                      h3.home__works__list__title=work.label
                      .home__works__list__info
                        p.home__works__list__year=work.year
                        p.home__works__list__category=work.category

                    figure.home__works__list__media
                      img.home__works__list__media__image(alt=work.image.alt src=work.image.url)

      include ../partials/footer